<ion-header>
  <ion-toolbar>
      <ion-buttons start>
        <button ion-button menuToggle>Toggle Menu</button>
      </ion-buttons>

      <ion-title>
        Assemblage
      </ion-title>
      <input-bar (cb)="addIt($event)">Search bar</input-bar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

<ion-list *ngIf="model.shipment">
  <ion-card>
    <ion-item>
     Next step for {{ model.shipment.name }}
       <button ion-button *ngIf="model.nextStep == 'Assemble'" primary (click)="assembler(model.shipment)">Assembler</button>
       <ion-badge *ngIf="model.ready == false " danger>Not ready : waiting another action</ion-badge>
   </ion-item>
 </ion-card>
       <ion-card>
         <ion-item>
           Packs
         </ion-item>
         <ion-card-content>
           <ion-item *ngFor="let pack of model.shipment.packs">
             <!-- utilité d'avoir les state ? -->
             {{ pack.name }} - {{ pack.stateMachine?.state }} - {{ pack.locationSM?.state }} {{ pack.nextSteps() != 'assembler' }}<nextApp [thing]="pack" *ngIf="pack.nextSteps() != 'assembler'">dns nextapp</nextApp>
             <span *ngIf="model.packs[pack.name].done" color="primary">√</span>

             <ion-badge *ngIf="model.packs[pack.name].ready == false " danger>Not ready</ion-badge>
           </ion-item>
         </ion-card-content>
       </ion-card>
</ion-list>
</ion-content>
