<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle>Toggle Menu</button>
        </ion-buttons>
    
        <ion-title>
            Picking: {{picking.name}}
        </ion-title>
        <input-bar (cb)="addIt($event)">Search bar</input-bar>
    </ion-toolbar>
</ion-header>
      
      
<ion-content padding>
    
    <ion-list>
        <ion-item *ngFor="let product of model.products">
            <!-- <ion-badge *ngIf="product.isExpected" color="primary">Received</ion-badge>
            <ion-badge *ngIf="!product.isExpected" color="danger">Unkown</ion-badge>
            {{product.name}} -->
 
            <span *ngIf="product.product_pickied_qty ==  product.product_qty">
                <ion-badge secondary>{{ product.product_pickied_qty }}</ion-badge> of <ion-badge secondary>{{ product.product_qty }}</ion-badge>
            </span>

            <span *ngIf="product.product_pickied_qty > product.product_qty">
                <ion-badge color="danger">{{ product.product_pickied_qty }}</ion-badge> of <ion-badge color="danger">{{ product.product_qty }}</ion-badge>
            </span>

            {{product.name}}

            <button ion-button item-right outline danger (click)="removeOne(product)">-1</button>
        </ion-item>
    </ion-list>

    <form name="colisageForm" *ngIf="model.procced">
        
        <ion-item>
            <ion-label>Weight</ion-label>
            <ion-input [(ngModel)]="model.weight" name="weight" placeholder="Package weight" type="number" step="any"></ion-input>
        </ion-item>

        <ion-item>
            <ion-buttons start>
                <button ion-button (click)="doPick()" [disabled]="!(model.weight)" color="danger">Ship</button>
            </ion-buttons>

            <!-- <ion-buttons >
                <button *ngIf="model.pickDone" (click)="doPack()" [disabled]="!(model.pickDone && model.weight)" ion-button color="primary">Pack</button>
            </ion-buttons>

            <ion-buttons end>
                <button *ngIf="model.pickDone" (click)="doShip()" [disabled]="!model.packDone" ion-button color="primary">Ship</button>
            </ion-buttons> -->
        </ion-item>

    </form>

    <ion-list>
        
        <ion-item-group>

            <ion-item-divider>
                Products to pick
            </ion-item-divider>

            <ion-item *ngFor="let product of picking.move_lines">
                {{ product.name }}
                <br />
                <small>Total to pick:</small>
                <ion-badge color="primary">{{product.product_qty}}</ion-badge>
            </ion-item>

        </ion-item-group>

    </ion-list>

</ion-content>
      