<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle>Toggle Menu</button>
        </ion-buttons>
    
        <ion-title>
            Picking: {{picking.name}}
        </ion-title>
        <input-bar (cb)="addIt($event)">Search bar</input-bar>
    </ion-toolbar>
</ion-header>
      
      
<ion-content padding>
    
    <ion-list>
        <ion-item *ngFor="let product of model.products">
 
            <span *ngIf="product.product_pickied_qty ==  product.product_qty">
                <ion-badge secondary>{{ product.product_pickied_qty }}</ion-badge> of <ion-badge secondary>{{ product.product_qty }}</ion-badge>
            </span>

            <span *ngIf="product.product_pickied_qty > product.product_qty">
                <ion-badge color="danger">{{ product.product_pickied_qty }}</ion-badge> of <ion-badge color="danger">{{ product.product_qty }}</ion-badge>
            </span>

            <span *ngIf="product.product_pickied_qty < product.product_qty">
                <ion-badge>{{ product.product_pickied_qty }}</ion-badge> of <ion-badge>{{ product.product_qty }}</ion-badge>
            </span>

            {{product.name}}

            <button ion-button item-right outline danger (click)="removeOne(product)">-1</button>
        </ion-item>
    </ion-list>

    <form name="colisageForm" *ngIf="model.procced">
        <ion-item>
            <ion-buttons start>
                <button ion-button (click)="doPick()" color="danger">Ship</button>
            </ion-buttons>
        </ion-item>
    </form>

    <ion-list>
        
        <ion-item-group>

            <ion-item-divider>
                Products to pick
            </ion-item-divider>

            <ion-item *ngFor="let product of picking.move_lines">
                {{ product.name }}
                <br />
                <small>Location:</small>
                <ion-badge color="primary">{{product.rack_location}}</ion-badge>
                <small>Code:</small>
                <ion-badge color="primary">{{product.default_code}}</ion-badge>
                <small>Total to pick:</small>
                <ion-badge color="primary">{{product.product_qty}}</ion-badge>
                - <span *ngIf="model.products.indexOf(product) != -1">√</span>
            </ion-item>

        </ion-item-group>

    </ion-list>

</ion-content>
      