<ion-header>
  <ion-toolbar>
      <ion-buttons start>
        <button menuToggle>Toggle Menu</button>
      </ion-buttons>

      <ion-title>
        Colisage
      </ion-title>
      <input-bar (cb)="addIt($event)">Search bar</input-bar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let product of model.pack.products">
        <ion-badge>{{ product.stateMachine.state }}</ion-badge>
        {{product.name}}
      </ion-item>
    </ion-list>
  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-input [(ngModel)]="model.weight" name="weight" placeholder="Package weight" type="number" step="any" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons start>
      <button (click)="reset(true)" danger>Reset</button>
    </ion-buttons>

    <ion-buttons end>
      <button (click)="validate()" primary>Make package
          <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
  </ion-item>

 <ion-list *ngIf="shipment">
      <p>Next step for {{ shipment.name }} : <button outline>{{ nextStep }}</button></p>
        <ion-card>
          <ion-item>
            Products
            <ion-icon></ion-icon>
          </ion-item>
          <ion-card-content>
            <ion-item *ngFor="let product of shipment.products">
              {{ product.name }}
               - <span [ngSwitch]="product.stateMachine.state">
                 <span *ngSwitchCase="'colisé'">√</span>
                 <span *ngSwitchCase="'init'">?</span>
                 <span *ngSwitchCase="'receptionné'">?</span>
               </span>
               <nextApp [thing]="product">dns nextapp</nextApp>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-item>
            Packs
          </ion-item>
          <ion-card-content>
            <ion-item *ngFor="let pack of shipment.packs">
              {{ pack.name }} - {{ pack.stateMachine?.state }} - {{ pack.locationSM?.state }} - {{ pack.weight }} - <nextApp [thing]="pack">dns nextapp</nextApp>
            </ion-item>
          </ion-card-content>
        </ion-card>

</ion-list>
 <div *ngIf="!shipment">
    Pas de shipment for pack
  </div>

</ion-content>
