<ion-header>
  <ion-navbar>
    <ion-title>
      Colisage
    </ion-title>
    <button menuToggle>Toggle Menu</button>
  </ion-navbar>
</ion-header>


<ion-content padding>



  <form (ngSubmit)="addIt(model)">
    <ion-item>
      <ion-label>Scan</ion-label>
      <ion-input [(ngModel)]="model.scanned" name="scanned" placeholder="Scan something"></ion-input>
    </ion-item>
  </form>

    <ion-list>
      <ion-item *ngFor="let product of pack.products">
        <ion-badge>{{ product.stateMachine.state }}</ion-badge>
        {{product.name}}
      </ion-item>
    </ion-list>
  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-input [(ngModel)]="model.weight" name="weight" placeholder="Package weight" type="number" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons start>
      <button (click)="reset()" danger>Reset</button>
    </ion-buttons>

    <ion-buttons end>
      <button (click)="validate()" primary>Make package
          <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
  </ion-item>

  <p>Next step : <button outline>{{ nextStep }}</button>

  </p>
 <ion-list *ngIf="pack.shipment">
  <p>Shiment : {{ pack.shipment.name }} - {{ pack.shipment.stateMachine.state }}
      <ion-icon name="hand" *ngIf="pack.shipment.stateMachine.state == 'en attente'">waiting</ion-icon>
    </p>
    <ion-item *ngFor="let aProduct of pack.shipment.products">
      <ion-row>
        <ion-col>Prod : {{ aProduct.name }}</ion-col>
        <ion-col>{{aProduct.stateMachine.state}}
          <span *ngIf="aProduct.stateMachine.state == 'crée'">waiting</span>
          <span *ngIf="aProduct.stateMachine.state == 'colisé'">waiting</span>
          <span *ngIf="aProduct.stateMachine.state == 'receptionné'">ready</span>
        </ion-col>
        <ion-col>{{ aProduct.pack?.name }}</ion-col>
      </ion-row>
    </ion-item>
    <ion-item *ngFor="let aPack of pack.shipment.packs">
      {{aPack.name }} State : {{ aPack.stateMachine.state}} {{ aPack.products.length}} - {{ aPack.weight }} - Location : {{aPack.locationSM.state}}
    </ion-item>
  </ion-list>
 <div *ngIf="!pack.shipment">
    Pas de shipment for pack
  </div>

</ion-content>
