<ion-header>
  <ion-toolbar>
      <ion-buttons start>
        <button ion-button menuToggle>Toggle Menu</button>
      </ion-buttons>

      <ion-title>
        Packing
      </ion-title>
      <input-bar (cb)="addIt($event)">Search bar</input-bar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let product of model.pack.products">
        <ion-badge *ngIf="product.isExpected" color="primary">Received</ion-badge>
        <ion-badge *ngIf="!product.isExpected" color="danger">Unkown</ion-badge>
        {{product.name}}
        <br><small>{{ product.category }}</small>
      </ion-item>
    </ion-list>
  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-input [(ngModel)]="model.weight" name="weight" placeholder="Package weight" type="number" step="any" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-buttons start>
      <button ion-button (click)="reset(true)" danger>Reset</button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="validate()" color="primary">Make package
          <ion-icon name="send"></ion-icon>
        </button>
    </ion-buttons>
  </ion-item>

 <ion-list *ngIf="shipment">
      <ion-list-header>
        {{ shipment.name }} {{ shipment.carrier }} <button ion-button outline>{{ nextStep }}</button>
      </ion-list-header>

      <ion-item-group>
          <ion-item-divider>
            Products
          </ion-item-divider>
          <ion-item *ngFor="let product of shipment.products">
              {{ product.name }}
               - <span [ngSwitch]="product.stateMachine.state">
                 <span *ngSwitchCase="'init'">?</span>
                 <span *ngSwitchCase="'available'">Produced</span>
                 <span *ngSwitchCase="'receptionné'">Received</span>
                 <span *ngSwitchCase="'colisé'">√</span>
               </span>
               <br> <small>{{ product.category }}</small>
          </ion-item>
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider>
            Packs
          </ion-item-divider>
          <ion-item *ngFor="let pack of shipment.packs">
            <h2>{{ pack.name }} {{ pack.weight }}kg</h2>
            <p>
              {{ pack.stateMachine?.state }}<br />
              {{ pack.category }}
              {{ pack.locationSM?.state }}
            </p>
            <nextApp [thing]="pack" item-right>dns nextapp</nextApp>
          </ion-item>
        </ion-item-group>
      </ion-list>
  <div *ngIf="!shipment">
    No shipment found pack
  </div>

</ion-content>
