<ion-header>
  <ion-toolbar>
      <ion-buttons start>
        <button menuToggle>Toggle Menu</button>
      </ion-buttons>

      <ion-title>
        Assemblage
      </ion-title>
      <input-bar (cb)="addIt($event)">Search bar</input-bar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

<ion-list *ngIf="model.shipment">
     <p>Next step for {{ model.shipment.name }} : <button outline>{{ model.nextStep }}</button>
       <button *ngIf="model.nextStep == 'Assemble'" primary (click)="assembler(model.shipment)">Assembler</button>
       <ion-badge *ngIf="model.ready == false " danger>Not ready : waiting another action</ion-badge>

     </p>
       <ion-card>
         <ion-item>
           Packs
         </ion-item>
         <ion-card-content>
           <ion-item *ngFor="let pack of model.shipment.packs">
             {{ pack.name }} - {{ pack.stateMachine?.state }} - {{ pack.locationSM?.state }} - <button outline>{{ pack.nextSteps() }}</button>
             <span *ngIf="model.packs[pack.name]">Good ! </span>
           </ion-item>
         </ion-card-content>
       </ion-card>
</ion-list>
</ion-content>
