<ion-header>
  <ion-toolbar>
      <ion-buttons start>
        <button ion-button menuToggle>Toggle Menu</button>
      </ion-buttons>

      <ion-title>
        Search
      </ion-title>
      <input-bar (cb)="addIt($event)">Search bar</input-bar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item *ngIf="search.notFound">No result found !</ion-item>
  <ion-item *ngIf="search.terms">Results for : {{ search.terms }}</ion-item>

  <ion-item-group *ngIf="search.shipments.length">
    <ion-item-divider>
      Shipment
      <ion-icon name="search" *ngIf="model.searched == 'shipment'"></ion-icon>
    </ion-item-divider>
    <ion-item *ngFor="let ship of search.shipments">
      <h2><a href="#" (click)="openPack(ship)">{{ ship.name }}</a></h2>
      <p>{{ ship.stateMachine?.state }}<br />
      {{ ship.carrier }}</p>
      <nextApp [thing]="ship" item-right>dns nextapp</nextApp>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="search.packs.length">
    <ion-item-divider>
      Packs
      <ion-icon name="search" *ngIf="model.searched == 'pack'"></ion-icon>
    </ion-item-divider>
    <ion-item *ngFor="let pack of search.packs">
        <h2><a href="#" (click)="openPack(pack)">{{ pack.name }}</a></h2>
        <p>{{ pack.stateMachine?.state }}<br />
        {{ pack.locationSM?.state }} - {{ pack.place }}</p>
        <nextApp [thing]="pack" item-right>dns nextapp</nextApp>
        <button ion-button (click)="print(pack)" item-right>Print</button>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf="search.products.length">
    <ion-item-divider>
        Products
      <ion-icon name="search" *ngIf="model.searched == 'product'"></ion-icon>
    </ion-item-divider>
    <ion-item *ngFor="let product of search.products">
      <h2><a href="#" (click)="openPack(product)">{{ product.name }}</a></h2>
      <p>{{ product.stateMachine?.state }}</p>
      <nextApp [thing]="product" item-right>dns nextapp</nextApp>
    </ion-item>
  </ion-item-group>

</ion-content>
