<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle>Toggle Menu</button>
        </ion-buttons>
    
        <ion-title>
            Picking: {{shipment.name}}
        </ion-title>
        <input-bar (cb)="addIt($event)">Search bar</input-bar>
    </ion-toolbar>
</ion-header>
      
      
<ion-content padding>
    
    <ion-list>
        <ion-item *ngFor="let product of model.products">
            <ion-badge *ngIf="product.isExpected" color="primary">Received</ion-badge>
            <ion-badge *ngIf="!product.isExpected" color="danger">Unkown</ion-badge>
            {{product.name}}
            <button ion-button item-right outline danger (click)="removeOne(product)">-1</button>
        </ion-item>
    </ion-list>

    <form name="colisageForm" *ngIf="model.shipNow">
        
        <ion-item>
            <ion-label>Weight</ion-label>
            <ion-input [(ngModel)]="model.weight" name="weight" placeholder="Package weight" type="number" step="any"></ion-input>
        </ion-item>

        <ion-item>
            <ion-buttons start>
                <button ion-button (click)="reset(false)" danger>Reset</button>
            </ion-buttons>

            <ion-buttons end>
                <button *ngIf="model.shipNow" (click)="shipNow()" [disabled]="!(model.products.length && model.weight)" ion-button color="secondary">Ship now</button>
            </ion-buttons>
        </ion-item>

    </form>

    <ion-list *ngIf="shipment">
        
        <ion-item-group>

            <ion-item-divider>
                Products to pick
            </ion-item-divider>

            <ion-item *ngFor="let product of shipment.products">
                {{ product.name }}
                    - <span [ngSwitch]="product.stateMachine.state">
                    <span *ngSwitchCase="'init'">?</span>
                    <span *ngSwitchCase="'available'">Produced</span>
                    <span *ngSwitchCase="'received'">Received</span>
                    <span *ngSwitchCase="'packed'">Packed</span>
                    </span>
                - <span *ngIf="model.products.indexOf(product) != -1">√</span>
                <br> <small>{{ product.category }}</small>
            </ion-item>

        </ion-item-group>

    </ion-list>

    <div *ngIf="!shipment">
        No shipment found pack
    </div>

</ion-content>
      