<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button menuToggle>Toggle Menu</button>
        </ion-buttons>

        <ion-title>
            {{ delivery.name }}
        </ion-title>
        <input-bar (cb)="addIt($event)">Search bar</input-bar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        Samples to prepare for {{ delivery.name }}
        <ion-item-group>
            <ion-item *ngFor="let product of delivery.products">
                {{ product.name }}
                <span *ngIf="model.products.has(product.name)" color="primary">√</span>
            </ion-item>
            <ion-buttons start>
                <button ion-button (click)="reset()" danger>Reset</button>
                <button ion-button (click)="validate()" danger [disabled]="model.products.size != delivery.products.length">Validate</button>
            </ion-buttons>
        </ion-item-group>
    </ion-list>
</ion-content>