<ion-header>
  <ion-navbar>
    <ion-title>
      Destockage
    </ion-title>
    <button menuToggle>Toggle Menu</button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <input-bar (cb)="addIt($event)">Search bar</input-bar>
  <ion-list>
       <ion-card>
         <ion-item>
           Packs
         </ion-item>
         <ion-card-content>
           <ion-item *ngFor="let pack of listeDeCourses">
             {{ pack.name }} - {{ pack.stateMachine?.state }} - {{ pack.locationSM?.state }}
             <span *ngIf="model.packs[pack.name]" primary>√</span>
           </ion-item>
         </ion-card-content>
       </ion-card>
  </ion-list>
</ion-content>
